{% block content %}

<div class="hero-and-content">
	<div data-html-block="hero"></div>
		<div class="container" data-html-block="content">
			<div class="page-container" id="page-sport" data-path="signup" data-doctype="Sport">
				<div class="page-content">
					<div class="page-content-wrapper">
						{{ name }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
        {% include "sports/templates/includes/sport.js" %}
	frappe.ready(function() {
		sports($('#page-sport'));
	});
</script>

{% endblock %}
